
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: 163px 66.3333333333px #006aff, -206px -380.6666666667px #3700ff, -207px 7.3333333333px magenta, 187px -115.6666666667px #0084ff, 37px -1.6666666667px #5100ff, -60px -295.6666666667px #d000ff, 129px 22.3333333333px #0044ff, -19px -246.6666666667px #00ffb3, -110px -20.6666666667px #ffe100, 235px 0.3333333333px #ff0059, 62px -10.6666666667px #51ff00, 131px -181.6666666667px #009dff, 121px -105.6666666667px #91ff00, -120px -74.6666666667px #00ff95, -233px -175.6666666667px #a6ff00, 203px -288.6666666667px #84ff00, -61px -10.6666666667px #00ff95, 35px -357.6666666667px #0066ff, -247px -277.6666666667px #00ffd5, -50px -229.6666666667px #62ff00, -206px -77.6666666667px #1100ff, 178px -223.6666666667px #00ff91, 12px -13.6666666667px #1100ff, -38px -400.6666666667px #ffd500, 193px -170.6666666667px #8c00ff, -124px -160.6666666667px #ff9100, -11px -72.6666666667px #ff9100, 106px -228.6666666667px #eaff00, 36px -111.6666666667px #ff8800, 239px -322.6666666667px #c400ff, -40px -265.6666666667px #00ff66, 74px 44.3333333333px #26ff00, -47px -20.6666666667px #00ff26, 43px 40.3333333333px #00ffd9, 63px -286.6666666667px #cc00ff, -152px -68.6666666667px #0026ff, -222px -215.6666666667px #dd00ff, -213px -252.6666666667px #00ff04, -245px -306.6666666667px #0062ff, -112px -303.6666666667px #0d00ff, 52px -56.6666666667px #ff0091, -9px -366.6666666667px #0033ff, 75px -301.6666666667px #0055ff, 201px -344.6666666667px #ffea00, -215px -31.6666666667px #9100ff, 190px -379.6666666667px #ffa200, -158px -188.6666666667px #ff006a, -55px 65.3333333333px #ff00c4, 23px 41.3333333333px #ea00ff, -139px -104.6666666667px #00ff6a, -159px -161.6666666667px #00ffd9;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow: 163px 66.3333333333px #006aff, -206px -380.6666666667px #3700ff, -207px 7.3333333333px magenta, 187px -115.6666666667px #0084ff, 37px -1.6666666667px #5100ff, -60px -295.6666666667px #d000ff, 129px 22.3333333333px #0044ff, -19px -246.6666666667px #00ffb3, -110px -20.6666666667px #ffe100, 235px 0.3333333333px #ff0059, 62px -10.6666666667px #51ff00, 131px -181.6666666667px #009dff, 121px -105.6666666667px #91ff00, -120px -74.6666666667px #00ff95, -233px -175.6666666667px #a6ff00, 203px -288.6666666667px #84ff00, -61px -10.6666666667px #00ff95, 35px -357.6666666667px #0066ff, -247px -277.6666666667px #00ffd5, -50px -229.6666666667px #62ff00, -206px -77.6666666667px #1100ff, 178px -223.6666666667px #00ff91, 12px -13.6666666667px #1100ff, -38px -400.6666666667px #ffd500, 193px -170.6666666667px #8c00ff, -124px -160.6666666667px #ff9100, -11px -72.6666666667px #ff9100, 106px -228.6666666667px #eaff00, 36px -111.6666666667px #ff8800, 239px -322.6666666667px #c400ff, -40px -265.6666666667px #00ff66, 74px 44.3333333333px #26ff00, -47px -20.6666666667px #00ff26, 43px 40.3333333333px #00ffd9, 63px -286.6666666667px #cc00ff, -152px -68.6666666667px #0026ff, -222px -215.6666666667px #dd00ff, -213px -252.6666666667px #00ff04, -245px -306.6666666667px #0062ff, -112px -303.6666666667px #0d00ff, 52px -56.6666666667px #ff0091, -9px -366.6666666667px #0033ff, 75px -301.6666666667px #0055ff, 201px -344.6666666667px #ffea00, -215px -31.6666666667px #9100ff, 190px -379.6666666667px #ffa200, -158px -188.6666666667px #ff006a, -55px 65.3333333333px #ff00c4, 23px 41.3333333333px #ea00ff, -139px -104.6666666667px #00ff6a, -159px -161.6666666667px #00ffd9;
    }
}
@-o-keyframes bang {
    to {
        box-shadow: 163px 66.3333333333px #006aff, -206px -380.6666666667px #3700ff, -207px 7.3333333333px magenta, 187px -115.6666666667px #0084ff, 37px -1.6666666667px #5100ff, -60px -295.6666666667px #d000ff, 129px 22.3333333333px #0044ff, -19px -246.6666666667px #00ffb3, -110px -20.6666666667px #ffe100, 235px 0.3333333333px #ff0059, 62px -10.6666666667px #51ff00, 131px -181.6666666667px #009dff, 121px -105.6666666667px #91ff00, -120px -74.6666666667px #00ff95, -233px -175.6666666667px #a6ff00, 203px -288.6666666667px #84ff00, -61px -10.6666666667px #00ff95, 35px -357.6666666667px #0066ff, -247px -277.6666666667px #00ffd5, -50px -229.6666666667px #62ff00, -206px -77.6666666667px #1100ff, 178px -223.6666666667px #00ff91, 12px -13.6666666667px #1100ff, -38px -400.6666666667px #ffd500, 193px -170.6666666667px #8c00ff, -124px -160.6666666667px #ff9100, -11px -72.6666666667px #ff9100, 106px -228.6666666667px #eaff00, 36px -111.6666666667px #ff8800, 239px -322.6666666667px #c400ff, -40px -265.6666666667px #00ff66, 74px 44.3333333333px #26ff00, -47px -20.6666666667px #00ff26, 43px 40.3333333333px #00ffd9, 63px -286.6666666667px #cc00ff, -152px -68.6666666667px #0026ff, -222px -215.6666666667px #dd00ff, -213px -252.6666666667px #00ff04, -245px -306.6666666667px #0062ff, -112px -303.6666666667px #0d00ff, 52px -56.6666666667px #ff0091, -9px -366.6666666667px #0033ff, 75px -301.6666666667px #0055ff, 201px -344.6666666667px #ffea00, -215px -31.6666666667px #9100ff, 190px -379.6666666667px #ffa200, -158px -188.6666666667px #ff006a, -55px 65.3333333333px #ff00c4, 23px 41.3333333333px #ea00ff, -139px -104.6666666667px #00ff6a, -159px -161.6666666667px #00ffd9;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow: 163px 66.3333333333px #006aff, -206px -380.6666666667px #3700ff, -207px 7.3333333333px magenta, 187px -115.6666666667px #0084ff, 37px -1.6666666667px #5100ff, -60px -295.6666666667px #d000ff, 129px 22.3333333333px #0044ff, -19px -246.6666666667px #00ffb3, -110px -20.6666666667px #ffe100, 235px 0.3333333333px #ff0059, 62px -10.6666666667px #51ff00, 131px -181.6666666667px #009dff, 121px -105.6666666667px #91ff00, -120px -74.6666666667px #00ff95, -233px -175.6666666667px #a6ff00, 203px -288.6666666667px #84ff00, -61px -10.6666666667px #00ff95, 35px -357.6666666667px #0066ff, -247px -277.6666666667px #00ffd5, -50px -229.6666666667px #62ff00, -206px -77.6666666667px #1100ff, 178px -223.6666666667px #00ff91, 12px -13.6666666667px #1100ff, -38px -400.6666666667px #ffd500, 193px -170.6666666667px #8c00ff, -124px -160.6666666667px #ff9100, -11px -72.6666666667px #ff9100, 106px -228.6666666667px #eaff00, 36px -111.6666666667px #ff8800, 239px -322.6666666667px #c400ff, -40px -265.6666666667px #00ff66, 74px 44.3333333333px #26ff00, -47px -20.6666666667px #00ff26, 43px 40.3333333333px #00ffd9, 63px -286.6666666667px #cc00ff, -152px -68.6666666667px #0026ff, -222px -215.6666666667px #dd00ff, -213px -252.6666666667px #00ff04, -245px -306.6666666667px #0062ff, -112px -303.6666666667px #0d00ff, 52px -56.6666666667px #ff0091, -9px -366.6666666667px #0033ff, 75px -301.6666666667px #0055ff, 201px -344.6666666667px #ffea00, -215px -31.6666666667px #9100ff, 190px -379.6666666667px #ffa200, -158px -188.6666666667px #ff006a, -55px 65.3333333333px #ff00c4, 23px 41.3333333333px #ea00ff, -139px -104.6666666667px #00ff6a, -159px -161.6666666667px #00ffd9;
    }
}
@keyframes bang {
    to {
        box-shadow: 163px 66.3333333333px #006aff, -206px -380.6666666667px #3700ff, -207px 7.3333333333px magenta, 187px -115.6666666667px #0084ff, 37px -1.6666666667px #5100ff, -60px -295.6666666667px #d000ff, 129px 22.3333333333px #0044ff, -19px -246.6666666667px #00ffb3, -110px -20.6666666667px #ffe100, 235px 0.3333333333px #ff0059, 62px -10.6666666667px #51ff00, 131px -181.6666666667px #009dff, 121px -105.6666666667px #91ff00, -120px -74.6666666667px #00ff95, -233px -175.6666666667px #a6ff00, 203px -288.6666666667px #84ff00, -61px -10.6666666667px #00ff95, 35px -357.6666666667px #0066ff, -247px -277.6666666667px #00ffd5, -50px -229.6666666667px #62ff00, -206px -77.6666666667px #1100ff, 178px -223.6666666667px #00ff91, 12px -13.6666666667px #1100ff, -38px -400.6666666667px #ffd500, 193px -170.6666666667px #8c00ff, -124px -160.6666666667px #ff9100, -11px -72.6666666667px #ff9100, 106px -228.6666666667px #eaff00, 36px -111.6666666667px #ff8800, 239px -322.6666666667px #c400ff, -40px -265.6666666667px #00ff66, 74px 44.3333333333px #26ff00, -47px -20.6666666667px #00ff26, 43px 40.3333333333px #00ffd9, 63px -286.6666666667px #cc00ff, -152px -68.6666666667px #0026ff, -222px -215.6666666667px #dd00ff, -213px -252.6666666667px #00ff04, -245px -306.6666666667px #0062ff, -112px -303.6666666667px #0d00ff, 52px -56.6666666667px #ff0091, -9px -366.6666666667px #0033ff, 75px -301.6666666667px #0055ff, 201px -344.6666666667px #ffea00, -215px -31.6666666667px #9100ff, 190px -379.6666666667px #ffa200, -158px -188.6666666667px #ff006a, -55px 65.3333333333px #ff00c4, 23px 41.3333333333px #ea00ff, -139px -104.6666666667px #00ff6a, -159px -161.6666666667px #00ffd9;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
