body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.text-center {
  text-align: center;
}

.app-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}